/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;800&display=swap");

/* VARIABLES CSS */
:root {
  /* colors */
  --color-red: #f94f4f;
  --color-bgBlack: #191921;
  --color-white: #ffffff;
  --color-textBlack: #000000;

  /* font-size */
  --font-xl: 5rem;
  --font-l: 3.5rem;
  --font-m: 1.25rem;
  --font-body: 1.125rem;

  /* font weight */
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-extraBold: 800;
}

/* TYPOGRAPHY */
.font-h1 {
  font: var(--fw-extraBold) var(--font-xl) / 1.1 "Commissioner";
}

.font-h2 {
  font: var(--fw-extraBold) var(--font-l) / 1.14 "Commissioner";
}

.font-h3 {
  font: var(--fw-extraBold) var(--font-m) / 1.6 "Commissioner";
}

.font-body {
  font: var(--fw-regular) var(--font-body) / 1.78 "Commissioner";
}

.btn-font {
  font: var(--fw-extraBold) 1rem/1.25 "Commissioner";
}

/* Reset */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* better for people who browse with the keyboard and know where they are on the site, so I set a different style, making it more visible, taking it from the default.
 */
*:focus,
*:focus-visible {
  outline: #646464 dotted 4px;
  outline-offset: 4px;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a:link {
  text-decoration: none;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-white);
  line-height: 1.5;

  /* improves text rendering */
  -webkit-font-smoothing: antialiased;
}

/* Layout */
.container {
  max-width: 74.375rem;
  padding: 0 2.5rem;
  margin: 0 auto;
}

/*----------------*/
/*=====HEADER=====*/
.header {
  display: grid;
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: start;
  grid-area: 1 / 1;
  padding-top: 3.5rem;
}

.header__logo {
  transition: transform 1s, opacity 1s;
}

.header::after {
  content: "";
  width: 44.063rem;
  height: 11.125rem;
  background-color: var(--color-red);
  grid-area: 1 / 1;
  justify-self: end;
  margin-right: calc(-165rem / 16);
  z-index: -1;
}

.nav__menu-box {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav__list {
  /* set with display grid, so sibling elements don't move */
  display: grid;
  grid-template-columns: 2.875rem 3.313rem 3.75rem;
  gap: 2rem;
}

.nav__link:link,
.nav__link:visited {
  display: inline-block;
  font: var(--fw-regular) 1rem/2 "Commissioner";
  color: var(--color-white);
  transition: transform 1s, opacity 1s;
}

.nav__link:hover,
.nav__link:active {
  font-weight: var(--fw-bold);
}

.nav__btn:link,
.nav__btn:visited {
  display: inline-block;
  color: var(--color-white);
  font-weight: var(--fw-extraBold);
  background: var(--color-bgBlack);
  padding: 1.438rem 2.75rem 1.313rem 2.813rem;
  transition: all 0.3s ease-in-out;
}

.nav__btn:hover,
.nav__btn:active {
  background: #434356;
  font-weight: var(--fw-extraBold);
}

/* Menu mobile */
[data-menu="button"] {
  display: none;
  border: none;
  background: none;
  cursor: pointer;
}

/*----------------*/
/*=====SECTION - HERO=====*/
.hero-box {
  display: grid;
}

.hero__content {
  grid-area: 1 / 1;
  max-width: calc(570rem / 16);
}

.hero__img-box {
  grid-area: 1 / 1;
  justify-self: end;
  margin-right: calc(-165rem / 16);
  z-index: -1;
}

.hero__title {
  padding-top: 7rem;
  margin-bottom: 2rem;
}

.hero__desc {
  margin-bottom: 3rem;
}

.hero__btn:link,
.hero__btn:visited {
  display: inline-block;
  font: var(--fw-extraBold) var(--font-body) / 1.22 "Commissioner";
  color: var(--color-white);
  background: var(--color-red);
  padding: 1.563rem 2.5rem;
  transition: all 0.3s ease-in-out;
}

.hero__btn:hover,
.hero__btn:active {
  background: #ff9393;
}

/*----------------*/
/*=====SECTION - DESIGN=====*/
.design {
  max-width: calc(1440rem / 16);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 4fr 3.84fr;
  color: var(--color-white);
}

.design__img {
  height: calc(984rem / 16);
  object-fit: cover;
  object-position: right;
}

.design__content {
  height: calc(784rem / 16);
  display: grid;
  background: var(--color-bgBlack);
  padding: 12.5rem 6.625rem 12.5rem 9.625rem;
  position: relative;
}

.design__content::before {
  content: "";
  width: 8.438rem;
  height: 3.813rem;
  background: url(../img/desktop/bg-pattern-wave-red.svg) no-repeat;
  position: absolute;
  top: 30%;
  left: 0;
  transform: translateX(-50%);
}

.design__title {
  margin-bottom: calc(43rem / 16);
}

.design__desc {
  margin-bottom: calc(48rem / 16);
}

.design__title--red {
  color: var(--color-red);
}

.design__link:link,
.design__link:visited {
  /* I chose to work with grid, because it was giving a little bug in hover */
  display: grid;
  justify-content: start;
  gap: 0.5rem;

  font: var(--fw-extraBold) 1.125rem/1.22 "Commissioner";
  color: var(--color-red);
  transition: all 0.3s ease-in-out;

  max-width: calc(124rem / 16);
}

.design__link::after {
  content: "";
  width: 100%;
  height: 0.125rem;
  background: currentColor;
  grid-area: 2 / 1;
}

.design__link:hover,
.design__link:active {
  color: #ff9393;
}

/*----------------*/
/*=====SECTION - APPROACH=====*/
.approach {
  display: grid;
  max-width: calc(1440rem / 16);
  margin: 0 auto;
}

.approach-box {
  grid-area: 1 / 1;
  display: flex;
  align-items: flex-start;
  gap: 125px;
  justify-self: end;
  max-width: calc(1312rem / 16);
  padding: 0 2.5rem;
  margin-right: 4.125rem;
}

.bg {
  grid-area: 1 / 1;
  justify-self: end;
  width: calc(895rem / 16);
  height: calc(1100rem / 16);
  background: var(--color-red);
  margin-top: calc(-200rem / 16);
}

.approach__title {
  grid-area: 1 / 1;
  justify-self: start;
  max-width: calc(540rem / 16);
  padding-top: calc(200rem / 16);
  z-index: 2;
}

.approach__list {
  grid-area: 1 / 1;
  display: grid;
  align-content: start;
  row-gap: 3.5rem;
  justify-self: end;

  /* converting for rem with to function calc*/
  max-width: calc(504rem / 16);
  z-index: 2;
}

.approach__item {
  display: grid;
  justify-content: start;
  height: calc(196rem / 16);
}

.approach__number {
  opacity: 0.25;
  grid-area: 1 / 1;
  color: var(--color-white);
}

.approach__sub {
  margin-bottom: calc(24rem / 16);
  color: var(--color-white);
}

.approach__desc {
  color: var(--color-white);
}

.approach__item-box {
  grid-area: 1 / 1;
  align-self: end;
  padding-left: 3.75rem;
}

/*----------------*/
/*=====SECTION - BRAND=====*/
.brand-box {
  display: grid;
  max-width: calc(1440rem / 16);
  margin: 0 auto;
  position: relative;
}

.brand {
  grid-area: 1 / 1;
  display: grid;
  width: 100%;
  margin: 0 auto;
}

.visible {
  opacity: 0;
}

.brand__title-box {
  grid-area: 1 / 1;
  max-width: calc(735rem / 16);
  height: calc(528rem / 16);
  padding: 9.5rem 7.813rem 9.5rem 10.313rem;
  background: var(--color-bgBlack);
  transition: all 0.3s;
  position: relative;
}

.brand__title-box::before {
  content: "";
  display: block;
  width: calc(135rem / 16);
  height: calc(61rem / 16);
  background: url(../img/desktop/bg-pattern-wavy-white.svg) no-repeat;
  position: absolute;
  top: 35%;
  right: 0;
  transform: translateX(40%) scale(-1, 1);
}

.brand__title {
  color: var(--color-white);
  margin-bottom: cacl(51rem / 16);
}

.brand__btn-right,
.brand__btn-left {
  border: none;
  background: none;
  cursor: pointer;
}

.brand__btn-left,
.brand__btn-left svg:hover,
.brand__btn-right svg,
.brand__btn-right svg:hover {
  stroke: #ff9393;
}

.brand__btn-box {
  display: flex;
  gap: 1rem;

  position: absolute;
  top: calc(336rem / 16);
  left: calc(165rem / 16);
}

.brand__content {
  grid-area: 1 / 1;
  display: grid;
  justify-self: end;
  z-index: -1;
  position: relative;
}

.brand__img-box::before {
  content: "";
  width: 100%;
  height: calc(200rem / 16);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #000000 100%);
  position: absolute;
  bottom: 0;
  z-index: 300;
}

.brand__img-box {
  grid-area: 1 / 1;
  place-self: end end;
  transition: all 0.3s;
}

.brand__img {
  position: relative;
}

.brand__info {
  display: grid;
  color: var(--color-white);
  grid-area: 1 / 1;
  place-self: end;
  margin-right: calc(154rem / 16);
  margin-bottom: calc(68rem / 16);
  font-weight: var(--fw-extraBold);
  z-index: 400;
}

.brand__date {
  justify-self: end;
  font-weight: var(--fw-regular);
}

/* Animation with JavaScript */
.animation-img {
  animation: teste 1s forwards;
}

.animation-title {
  animation: teste2 2s forwards;
}

@keyframes teste {
  0% {
    opacity: 0.5;
    transform: translateX(-400px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes teste2 {
  0% {
    opacity: 0.5;
    transform: translateX(-400px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animation-img2 {
  animation: teste3 1s forwards;
}

.animation-title2 {
  animation: teste4 2s forwards;
}

@keyframes teste3 {
  0% {
    opacity: 0.5;
    transform: translateX(400px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes teste4 {
  0% {
    opacity: 0.5;
    transform: translateX(400px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*----------------*/
/*=====FOOTER=====*/
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: calc(120rem / 16);
  padding-bottom: calc(115rem / 16);
  position: relative;
}

.footer__desc {
  max-width: calc(635rem / 16);
}

.footer::after {
  content: "";
  display: block;
  width: calc(134rem / 16);
  height: calc(60rem / 16);
  background: url(../img/desktop/bg-pattern-wave-red.svg) no-repeat;
  position: absolute;
  left: calc(-98rem / 16);
  transform: translateX(-70%);
}

.footer__btn:link,
.footer__btn:visited {
  color: var(--color-white);
  background: var(--color-red);
  padding: 1.438rem 2.75rem 1.375rem 2.813rem;
  transition: all 0.3s ease-in-out;
}

.footer__btn:hover,
.footer__btn:active {
  background: #ff9393;
}

.section {
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(-8rem);
}
