/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;800&display=swap");

/* VARIABLES CSS */
:root {
  /* colors */
  --color-red: #f94f4f;
  --color-bgBlack: #191921;
  --color-white: #ffffff;
  --color-textBlack: #000000;

  /* font-size */
  --font-xl: 5rem;
  --font-l: 3.5rem;
  --font-m: 1.25rem;
  --font-body: 1.125rem;

  /* font weight */
  --fw-regular: 400;
  --fw-extraBold: 800;
}

/* TYPOGRAPHY */
.font-h1 {
  font: var(--fw-extraBold) var(--font-xl) / 88px "Commissioner";
}

.font-h2 {
  font: var(--fw-extraBold) var(--font-l) / 64px "Commissioner";
}

.font-h3 {
  font: var(--fw-extraBold) var(--font-m) / 32px "Commissioner";
}

.font-body {
  font: var(--fw-regular) 18px/32px "Commissioner";
}

/* Reset */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* better for people who browse with the keyboard and know where they are on the site, so I set a different style, making it more visible, taking it from the default.
 */
*:focus,
*:focus-visible {
  outline: #646464 dotted 4px;
  outline-offset: 4px;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a:link {
  text-decoration: none;
}

html,
body {
  height: 100%;
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--color-white);
  line-height: 1.5;
  /* improves text rendering */
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

/* Layout */
.container {
  max-width: 1190px;
  padding: 0 40px;
  margin: 0 auto;
}

/* HEADER */
.header {
  padding-top: 56px;
  padding-bottom: 58px;
  margin-bottom: 112px;
}

.menu-nav {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between; */
  align-items: center;
}

.nav-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  position: relative;
}

/* .nav-content::before {
  content: "";
  width: 705px;
  height: 178px;
  background-color: var(--color-red);
  position: absolute;
  top: -56px;
  right: 0;
  bottom: 0;
  transform: translateX(165px);
  z-index: -2;
} */
.nav-itens-btn {
  display: flex;
  gap: 48px;
  align-items: center;
  justify-self: end;
}
.nav-itens-btn {
  position: relative;
}
.nav-itens-btn::before {
  content: "";
  width: 705px;
  height: 181px;
  background-color: var(--color-red);
  position: absolute;
  top: -58px;
  right: -165px;
  z-index: -2;
}
.nav-itens {
  display: grid;
  grid-template-columns: 46px 53px 62px;
  gap: 32px;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  font: var(--fw-regular) 1rem/2 "Commissioner";
  color: var(--color-white);
  padding: 10px 0;
}
.nav-link:hover,
.nav-link:active {
  font-weight: 700;
}

.btn-header:link,
.btn-header:visited {
  display: inline-block;
  font: var(--fw-extraBold) 1rem/20px "Commissioner";
  background-color: var(--color-bgBlack);
  color: var(--color-white);
  padding: 23px 44px 22px 45px;
  transition: all 0.4s ease-in-out;
}

.btn-header:hover,
.btn-header:active {
  background-color: #979797;
}

/* SECTION-HERO */
.section-hero {
  display: grid;
  margin-bottom: ;
}

.hero-content {
  max-width: 570px;
  grid-area: 1 / -1;
  z-index: 2;
}

.hero-title {
  margin-bottom: 39px;
}

.hero-description {
  margin-bottom: 48px;
}

.btn-hero:link,
.btn-hero:visited {
  display: inline-block;
  padding: 25px 41px 25px 40px;
  line-height: 22px;
  font-weight: var(--fw-extraBold);
  color: var(--color-white);
  background-color: var(--color-red);
  transition: all 0.4s ease-in-out;
}

.btn-hero:hover,
.btn-hero:active {
  background-color: #ff9393;
}

.hero-img {
  grid-area: 1 / -1;
  place-self: end;
  margin-top: -112px;
  margin-right: -165px;
  margin: -112px -165px 0 0;
}
